@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <style>
        body {
            background-image: url('/Images/4167280_18775.jpg');
            background-size: contain; /* or 'cover' depending on your preference */
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
    
</div>
